.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
h1 {
  font-size: 40px;
  font-family: 'roboto';
  font-weight: bold;
  text-align: center;
}
button {
  cursor: pointer;
  outline: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  border-width: 0px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 16px;
  padding-bottom: 16px;
}
span {
  color: aqua;
}
